<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <ul>
      <li> <%= animals[0] %> </li>
      <li> <%= animals[1] %> </li>
      <li> <%= animals[2] %> </li>
      <li> <%= animals[3] %> </li>
      <li> <%= animals[4] %> </li>
    </ul>
  </body>
</html>
